html,
body,
center {
  height: 100%
}

.group-button {
  position: absolute !important;
  top: 2%;
  right: 2%;
}

.zoom-button,
.save-button {
  font-size: 0.6rem !important;
  padding: 0.25rem !important;
}